[Unit]
Description=web-api
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/data/app/web-api
ExecStart=/data/app/web-api/current/web-api
KillSignal=SIGTERM
SendSIGKILL=no
SuccessExitStatus=0
LimitNOFILE=200000
Restart=always

[Install]
WantedBy=multi-user.target